<div class="card-wrapper">
  <div class="header">
    <%= wicked_pdf_image_tag 'header.png' %>
  </div>	
  <div class="card">
    <div>
      <div>
        <div class="name">
          <div>Nome</div>
          <div>
            <%= truncate(
              "#{athlete.first_name} #{athlete.last_name}", 
              lenght: 17, 
              omission: '.')
            %>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="sides">
      <div>
        <div class="course">
          <div>Curso</div>
          <div><%= athlete.course.abbreviation if athlete.course %></div>
        </div>
        <div class="number">
          <div>Numero</div>
          <div><%= athlete.student_number %></div>
        </div>
        <div class="sport">
          <div>Desporto</div>
          <div><%= athlete.sports_number %></div>
        </div>
      </div>
      <div>
        <div class="photo">
          <img src="<%= host %><%= athlete.picture.url(:default) %>" />
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="footer">
      <%= wicked_pdf_image_tag 'footer.png' %>
    </div>
  </div>
</div>
